
@{
    ViewBag.Title = "";
}

<!DOCTYPE html>

<html>
<head>

</head>
<body>

    <h2>Enter Patient's First Name</h2>
    <i>Ex: "John", or "Rob"</i>
    <form method="post" action="@Url.Action("PatientInfoForm", "Home")" style="display: inline-flex">
        <input type="text" class="form-control form-control-lg" name="patientQuery" />
        <input type="submit" class="btn btn-primary" style="height: 34px; margin-left: 10px;" value="Click to submit" />
        <hr />
    </form>

   
    <div id="results">
        @{
            foreach (var person in ViewBag.ReturnedResults)
            {
                <li>@person</li>
            }
        }
    </div>

    <button id="exportData" style="margin-top: 20px" class="btn btn-primary" onclick="downloadResults()"> Download results to file</button>
</body>
</html>

