
@{
    ViewBag.Title = "PatientInfoForm";
}

<!DOCTYPE html>

<html>
<head>
  
</head>
<body>

    <h2> Enter a patient's first name </h2>
    <i>Ex: "John", or "Rob"</i>
    <form method="post">
        <input type="text" name="patientQuery" />
        <input type="submit" value="Click to submit" />
        <hr />
    </form>

    <div id="results">
        @{
            foreach (var person in ViewBag.ReturnedResults)
            {
                <li>@person</li>
            }
        }
    </div>
    <button id="exportData" onclick="downloadResults()"> Download results to file</button>
</body>
</html>

